<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MDOC</title>
    <link href="index-style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="welcome-wrapper">
        <div class="welcome">
            <div>MULTIDOC</div>
            <a class="hidden-link" href="/info" target="_blank">
                <div class="welcome-more">
                    more<div style="font-size:8pt; color:white;"> 🡥</div>
                </div>
            </a>
        </div>
    </div>


    <a href="/redactor" id="create-new">Create new Multidoc</a>

    <a href="/redactor" id="use-default">Use example template</a>

</body>
</html>