<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MDOC</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/decoupled-document/ckeditor.js"></script -->
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/balloon/ckeditor.js"></script>
</head>
<body>

<div class="top-bar">
    <div class="link-button">

    </div>
    <div class="share-button">

    </div>
    <div class="mdoc-title-wrapper">
        <div class="mdoc-title" th:text="${title}"></div>
    </div>
</div>

<div class="content">



    <div class="block" th:each="block : ${blocks}">
        <div class="version-content" th:each="ver : ${block.getVersions()}" th:utext="${ver.getContent().getContent()}" hidden></div>
        <div class="version-author" th:each="ver : ${block.getVersions()}" th:text="${ver.getAuthor()}" hidden></div>
        <div class="block-content">
            <!-- div class="toolbar-container"></div -->
            <div class="editor"></div>
        </div>
        <div class="block-controller">
            <div class="left-ctrl">
                <div class="block-number" th:text="${blocks.indexOf(block)+1}"></div>
                <div class="block-name" th:text="${block.getTitle()}"></div>
            </div>
            <div class="middle-ctrl">
                <div class="block-left">
                    <
                </div>
                <div class="block-version" th:text=" '1/' + ${block.getVersions().size()} "></div>
                <div class="block-right">
                    >
                </div>
            </div>
            <div class="right-ctrl">
                <div class="block-author"></div>
                <div class="block-add-version">
                    +
                </div>
            </div>
        </div>
    </div>



</div>

<center><div class="add-block-button">+</div></center>


<script src="script.js"></script>

</body>
</html>