<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>MDOC</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" th:href="@{../static/fav.png}">
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/decoupled-document/ckeditor.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
</head>
<body>

<div id="top-bar">
    <button id="menu-button" onclick="openMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="gray" width="100%" height="100%" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </button>
    <button id="link-button" onclick="share()">🡭</button>
    <input id="mdoc-title" onchange="saveDocTitle(this)" th:value="${title}">

<!--    <div class="button-container-wrapper">-->
<!--        <div class="button-container">-->
<!--            <button class="button-container-button" style="background:#ABEBC6">open</button>-->
<!--            <button class="button-container-button" style="background:#AED6F1">share</button>-->
<!--            <button class="button-container-button" style="background:#EC7063">delete</button>-->
<!--            <button class="button-container-button" style="background:#D2B4DE">collect</button>-->
<!--        </div>-->
<!--        <div class="button-container">-->
<!--            <button class="button-container-button" style="background:#FADBD8">delete block</button>-->
<!--            <button class="button-container-button" style="background:#F5B7B1">delete version</button>-->
<!--            <button class="button-container-button" style="background:#F5B041">star</button>-->
<!--        </div>-->
<!--    </div>-->

    <div id="toolbar-container"></div>
</div>

<div id="menu" class="menu">
    <a href="/" style="background:#9559FF; color:white" class="menu-list-link menu-list-item">Go to main page</a>
    <div id="download-document-wrapper" style="display:flex;flex-direction: column;align-items: stretch;"></div>
    <div id="delete-document-wrapper"></div>
    <hr class="menu-list-item">
    <p class="menu-list-item">Recent</p>
    <div id="menu-recent"></div>
</div>

<div id="share-input-wrapper">
    <input id="share-input" readonly>
    <button id="share-input-copy" onclick="copyToClipboard()">copy</button>
    <button id="share-input-close" onclick="closeShare()">x</button>
</div>

<div id="new-block">
    <div id="new-block-sign">Add new <span style="background-color:#f2e6ff; padding:0.5%;">block</span><button id="new-block-close" onclick="hideNewBlock()">X</button></div>
    <input class="new-block-input" id="new-block-title" placeholder="Block title">
    <input class="new-block-input" id="new-block-author" placeholder="Author">
    <button id="new-block-submit" onclick="addNewBlock(this.parentElement)">Create new block</button>
</div>

<div id="new-version">
    <div id="new-version-sign">Add new <span style="background-color:#f2e6ff; padding:0.5%;">version</span><button id="new-version-close" onclick="hideNewVersion()">X</button></div>
    <div style="display:flex; flex-direction:row; width:100%; justify-content:center;">
        <div>To block #</div><div id="new-version-block-number"></div>
    </div>
    <div style="display:flex">
        "<div id="new-version-block-title"></div>"
    </div>
    <br>
    <input id="new-version-author" placeholder="Author">
    <button id="new-version-submit" onclick="addNewVersion(this.parentElement)">Create new version</button>
</div>

<div id="content" th:fragment="content">

    <div class="block" th:each="block : ${blocks}">
        <div class="block-content">
            <div class="editor">
                <div th:switch="${block.getVersions().get(0).isPreferred()}" class="editor-bar">
                    <button th:case="true" class="editor-star-version" onclick="starVersion(this)">
                        <svg fill="#fff491" class="editor-star-version-svg" xmlns="http://www.w3.org/2000/svg" width="1.5vw" height="1.5vw" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                    </button>
                    <button th:case="false" class="editor-star-version" onclick="starVersion(this)">
                        <svg fill="#efefef" class="editor-star-version-svg" xmlns="http://www.w3.org/2000/svg" width="1.5vw" height="1.5vw" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                    </button>
                    <button class="editor-actions" onclick="openContextActions(this)">
                        •••
                    </button>
                </div>
                <div class="context-actions">
                    <button class="context-actions-button" onclick="deleteBlock(this)">delete block</button>
                    <button class="context-actions-button" onclick="deleteVersion(this)" style="border-top:1px solid lightgray; border-bottom:1px solid lightgray;">delete version</button>
                    <button class="context-actions-button" onclick="closeEditorContextMenu(this)">close</button>
                </div>
                <textarea class="textarea-editor" onchange="saveVersion(this)">[[${block.getVersions().get(0).getContent()}]]</textarea>
            </div>
        </div>
        <div class="block-controller">
            <div class="left-ctrl">
                <div class="block-number" th:text="${blocks.indexOf(block)+1}"></div>
                <input class="block-name" onchange="saveBlockTitle(this)" th:value="${block.getTitle()}">
            </div>
            <div class="middle-ctrl">
                <button class="block-left" onclick="changeVersion(this, false)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="lightgrey" width="2vh" height="2vh" viewBox="0 0 24 24"><path d="M3 12l18-12v24z"/></svg>
                </button>
                <div class="block-version">1</div>/<div class="block-version block-max-version" th:text="${block.getVersions().size()}"></div>
                <button class="block-right" onclick="changeVersion(this, true)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="lightgrey" width="2vh" height="2vh" viewBox="0 0 24 24"><path d="M21 12l-18 12v-24z"/></svg>
                </button>
            </div>
            <div class="right-ctrl">
                <input class="block-author" th:value="${block.getVersions().get(0).getAuthor()}" onchange="saveVersionAuthor(this)">
                <button class="block-add-version" onclick="showNewVersion(this)">
                    <svg fill="gray" xmlns="http://www.w3.org/2000/svg" width="2vh" height="2vh" viewBox="0 0 24 24"><path d="M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z"/></svg>
                </button>
            </div>
        </div>
    </div>

</div>


<center>
    <button id="add-block-button" onclick="showNewBlock()">
        <div>
            <div style="height:15px; width:15px; border-radius:100% 0 0 0; border-right:1px solid grey; border-bottom:1px solid grey;"></div>
            <div style="height:15px; width:15px; border-radius:0 0 0 100%; border-right:1px solid grey; border-top:1px solid grey;"></div>
        </div>
        <div>
            <div style="height:15px; width:15px; border-radius:0 100% 0 0; border-left:1px solid grey; border-bottom:1px solid grey;"></div>
            <div style="height:15px; width:15px; border-radius:0 0 100% 0; border-left:1px solid grey; border-top:1px solid grey;"></div>
        </div>
    </button>
</center>


<script src="redactor.js"></script>

</body>
</html>