<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>MULTIDOC</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" th:href="@{../static/fav.png}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>

<div id="top-bar">
    <button id="menu-button" onclick="openMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="gray" width="100%" height="100%" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </button>
    <button id="link-button" onclick="share()">🡭</button>
    <input id="mdoc-title" onchange="saveDocTitle(this)" th:value="${title}">
</div>

<div id="menu" class="menu">
    <a href="/" style="background:#9559FF; color:white" class="menu-list-link menu-list-item">Go to main page</a>
    <div id="download-document-wrapper" style="display:flex;flex-direction: column;align-items: stretch;"></div>
    <div id="delete-document-wrapper"></div>
    <hr class="menu-list-item">
    <p class="menu-list-item">Recent</p>
    <div id="menu-recent"></div>
</div>

<div id="share-input-wrapper">
    <input id="share-input" readonly>
    <button id="share-input-copy" onclick="copyToClipboard()">copy</button>
    <button id="share-input-close" onclick="closeShare()">x</button>
</div>

<div id="new-block">
    <div id="new-block-sign">Add new <span style="background-color:#f2e6ff; padding:0.5%;">block</span><button id="new-block-close" onclick="hideNewBlock()">X</button></div>
    <input class="new-block-input" id="new-block-title" placeholder="Block title">
    <input class="new-block-input" id="new-block-author" placeholder="Author">
    <button id="new-block-submit" onclick="addNewBlock(this.parentElement)">Create new block</button>
</div>

<div id="new-version">
    <div id="new-version-sign">Add new <span style="background-color:#f2e6ff; padding:0.5%;">version</span><button id="new-version-close" onclick="hideNewVersion()">X</button></div>
    <div style="display:flex; flex-direction:row; width:100%; justify-content:center;">
        <div>To block #</div><div id="new-version-block-number"></div>
    </div>
    <div style="display:flex">
        "<div id="new-version-block-title"></div>"
    </div>
    <br>
    <input id="new-version-author" placeholder="Author">
    <button id="new-version-submit" onclick="addNewVersion(this.parentElement)">Create new version</button>
</div>

<div class="alert">
    <strong>someone is already editing</strong>
    <button class="closebtn" onclick="this.parentElement.style.display='none';">⨯</button>
</div>

<div id="content" th:fragment="content"></div>

<center>
    <button id="add-block-button" onclick="showNewBlock()">
        <div>
            <div style="height:15px; width:15px; border-radius:100% 0 0 0; border-right:1px solid grey; border-bottom:1px solid grey;"></div>
            <div style="height:15px; width:15px; border-radius:0 0 0 100%; border-right:1px solid grey; border-top:1px solid grey;"></div>
        </div>
        <div>
            <div style="height:15px; width:15px; border-radius:0 100% 0 0; border-left:1px solid grey; border-bottom:1px solid grey;"></div>
            <div style="height:15px; width:15px; border-radius:0 0 100% 0; border-left:1px solid grey; border-top:1px solid grey;"></div>
        </div>
    </button>
</center>

<script src="new.js"></script>
<script src="redactor.js"></script>
<script src="script.js"></script>

</body>
</html>